<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Glass</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <script src="js/vendor/modernizr.js"></script>
  </head>
  <body>
    <!--Top Bar --> 
    <nav class="top-bar" data-topbar role="navigation">
   <ul class="title-area">
    <li class="name">
      <h1 style="font-size:25px"><a href="/">LifeCycle</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
   <li class="toggle-topbar menu-icon"><a href="#"><span>  Menu</span></a></li>
    </ul>
   <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <!-- <li class="active"><a href="#">Right Button Active</a></li> --> 
      <!-- <li class="has-dropdown" style="font-size:25">
        <a href="#">Material</a>
        <ul class="dropdown">
          <li><a href="#">Plastic</a></li>
          <li><a href="#">Cardboard</a></li>
          <li><a href="#">Paper</a></li>
          <li><a href="#">Glass</a></li>
        </ul>
      </li> -->
    </ul>
     <!-- Left Nav Section
     <ul class="left">
        <li><a href="#">Left Nav Button</a></li>
     </ul>-->
    </section>
    </nav>
    <br>
  <!--Logo-->
    <div align="center">
      <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Recycling_symbol.svg/900px-Recycling_symbol.svg.png" style="width:100px;height:100px">
    </div>
    <!--Title Plus Button Group -->
    <div align = "center" style="color:green;font-size:100px">
      LifeCycle
      <!-- Plastic, Cardboard, Paper, Glass -->
    <ul class="button-group">
      <li>
        <form action="/plastic" method="post">
          <input type="hidden" name ="plastic" value ="plastic">
          <input type="submit" value="Plastic" class="button">
        </form>
      </li>
      <li>
        <form action="/cardboard" method="post">
          <input type="hidden" name="cardboard" value="cardboard">
          <input type="submit" value="Cardboard" class="button">
        </form>
      </li>
      <li>
        <form action="/glass" method="post">
          <input type="hidden" name="glass" value="glass">
          <input type="submit" value="Glass" class="button">
        </form>
      </li>
    </ul>
    </div>
    <div align="center">
      <table>
        <tr>
          <td colspan="100"><a href="<%= @glass_results.url.first %>"> <img src="<%= @glass_results.image.first %>" > </td>

          <td colspan="100"><a href="<%= @glass_results.url[1] %>"><img src="<%= @glass_results.image[1] %>" ></td>
          <td colspan="100"><a href="<%= @glass_results.url[2] %>"><img src="<%= @glass_results.image[2] %>" ></td>
          <td colspan="100"><a href="<%= @glass_results.url[3] %>"><img src="<%= @glass_results.image[3] %>" ></td>
          </tr>
          <tr>
          <td colspan="100"><a href="<%= @glass_results.url[4] %>"><img src="<%= @glass_results.image[4] %>" ></td>
          <td colspan="100"><a href="<%= @glass_results.url[5] %>"><img src="<%= @glass_results.image[5] %>" ></td>
          <td colspan="100"><a href="<%= @glass_results.url[6] %>"><img src="<%= @glass_results.image[6] %>" ></td>
          <td colspan="100"><a href="<%= @glass_results.url[7] %>"><img src="<%= @glass_results.image[7] %>" ></td>
          <tr>
          
        </tr>
    </table>
    </div>
    </div>
  </body>
  </html>